/* reset */
@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 1.5;
  color: #222328;
}
.wrap {
  width: 1200px;
  /* 꼭대기에 붙어서(위아래0) 좌우 가운데정렬 : 0 auto */
  margin: 0 auto;
}

/* ------------------------ header ------------------------ */

.header {
  /* 블록요소는 width 100% 디폴트 */
  display: flex;
  justify-content: space-between;
  height: 100px;
  /* 내부의 요소들은 height 100%가 됨 */
  background: white;
}

.logo {
  display: flex;
  /* 완벽한 센터링 */
  justify-content: center;
  align-items: center;
  background: white;
}

.logo a {
  display: block;
  width: 200px;
  height: 40px;
}

/* ---------------------- nav depth1 ---------------------- */
.gnb .depth1 {
  display: flex;
}

.gnb .depth1 > li > a {
  /* a태그는 인라인이라서 높이값 안들어감 > 블록으로 바꿔주기 */
  display: block;
  height: 100px;
  /* 패딩값 li 말고 a 에 넣기 */
  padding: 0px 50px;
  /* 글씨속성 : 글씨를 싸고있는 바로 바깥태그에 적용 */
  text-align: center;
  line-height: 100px;
  /* background: white; */
  /* border: 1px solid #000; */
}

.gnb .depth1 > li:last-child .depth2 {
  border-right: 1px solid #dbdbdb;
}

/* depth2로 마우스오버해도 depth1에 라인생기게 */
/* li에 depth1 depth2 다 들어가있어서 li:hover로 잡아야함 */
.gnb .depth1 > li:hover > a {
  font-weight: 900;
  border-bottom: 3px solid #333;
}

.gnb .depth1 > li {
  position: relative;
}

/* ----------------------- nav depth2 --------------------- */

/* gnb 마우스 오버 전 */
.gnb .depth2 {
  /* display: none; */
  position: absolute;
  /* 헤더높이값만큼 */
  top: 100px;
  left: 0;
  right: 0;
  z-index: 1000;
  overflow: hidden;
  max-height: 0;
  background: white;
  border-bottom: 0px solid #dbdbdb;
  border-right: none;
  transition: all 0.3s;
}

/* gnb 마우스 오버 후 */
.gnb .depth1:hover .depth2 {
  display: block;
  max-height: 300px;
  /* padding: 10px 0; */
  border-bottom-width: 1px;
}

.gnb .depth2::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  bottom: 5px;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.gnb .depth1 > li:last-child .depth2::after {
  display: none;
}

/* 밑에 뭐 더 없으니까 자식으로 잡음 */
.gnb .depth2 a {
  display: block;
  /* 높이를 지정해서 공간 크기가 변동되는걸 막기 */
  /* 높이값 넣어주고 line height도 맞춰서 가운데정렬 */
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.gnb .depth2 a:hover {
  border-bottom: none;
  background-color: #333;
  color: white;
}

/* ------------------------ slide ------------------------- */

/* a 태그와 img 태그는 인라인요소 */
/* main 까지 잡아줄필요는 없음 > 섹션별로 잡아주기 */
.slide-wrap a,
.slide-wrap img {
  display: block;
}

.slide-wrap {
  position: relative;
  height: 300px;
  overflow: hidden;
}

.lst-slide {
  position: absolute;
  top: 0;
  left: 0;
}
/* 나중에 스크립트로 나머지 슬라이드 올라오게 제어 */

/* ---------------------- contents ------------------------ */

.contents {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.tabs-wrap {
  width: calc(100% / 2 - 230px);
}

.bnr {
  width: 400px;
}

/* 어딜 클릭하던 링크되게 블록으로 크기맞추기 */
.bnr a,
.bnr img {
  display: block;
}

.goto {
  width: calc(100% / 2 - 230px);
}
/* ----------------------- tabs ------------------------- */

.tabs-wrap {
  display: flex;
  position: relative;
}

.tabs-wrap .tabs-item {
  width: 50%;
}

/* 비활성화 */
.tabs-wrap .tabs-item .tit {
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  border-bottom: 2px solid #000;
}

/* 활성화 */
.tabs-wrap .on .tit {
  background: #333;
  color: white;
}

.tabs-wrap .tabs-item .cont {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  height: 157px;
}

.tabs-wrap .on .cont {
  display: block;
}

.lst-bbs {
  padding-top: 13px;
}

.lst-bbs li {
  display: flex;
  align-items: center;
}

.lst-bbs li::before {
  content: "";
  width: 5px;
  height: 5px;
  margin-top: 3px;
  margin-right: 10px;
  display: inline-block;
  border-radius: 50%;
  background: #000;
}

.lst-bbs li a {
  display: block;
  line-height: 2;
}

.lst-bbs li a:hover {
  text-decoration: underline;
}

/* ==================== gallery ============ */

.lst-gallery {
  display: flex;
  justify-content: space-between;
}

.lst-gallery li {
  width: 100px;
  padding-top: 13px;
}

.lst-gallery p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ---------------------- goto ------------------------- */
.goto ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 180px;
}

.goto li {
  /* 퍼센트는 상대값이니까 부모한테 주기 */
  /* 반응형 - 퍼센트 / 왠만하면 퍼센트로 작업하기 */
  width: calc(50% - 5px);
  height: calc(50% - 5px);
  background: blue;
}

.goto a {
  display: block;
  height: 100%;
  background: lightgray;
}

/* ==================== footer =============== */

.logo-foot a {
  display: flex;
  height: 100px;
  align-items: center;
}

.footer {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #d7d7d7;
}

.lst-sns {
  display: flex;
}

.lst-sns li {
  margin-left: 20px;
}

.lst-sns a {
  display: flex;
  height: 100px;
  align-items: center;
}

/* ================== modal ======================== */

.modal-dimmed {
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  position: fixed;
  /* 화면가득채우기 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal-box {
  position: relative;
  padding: 50px;
  width: 500px;
  height: 300px;
  background: white;
  border: 1px solid #000;
  border-radius: 10px;
  text-align: center;
}

.modal-box h3 {
  margin-bottom: 30px;
  font-size: 24px;
}

.modal-box .modal-button {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
  background: black;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 15px;
  /* 마우스오버했을때 손모양 */
  cursor: pointer;
}
