/* reset */
@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 1.5;
  color: #222328;
}
.wrap {
  width: 1200px;
  /* 꼭대기에 붙어서(위아래0) 좌우 가운데정렬 : 0 auto */
  margin: 0 auto;
  background: pink;
}

/* ------------------------ header ------------------------ */

.header {
  /* 블록요소는 width 100% 디폴트 */
  display: flex;
  justify-content: space-between;
  height: 100px;
  /* 내부의 요소들은 height 100%가 됨 */
  background: white;
}

.logo {
  display: flex;
  /* 완벽한 센터링 */
  justify-content: center;
  align-items: center;
  background: white;
}

.logo a {
  display: block;
  width: 200px;
  height: 40px;
}

.gnb .depth1 {
  display: flex;
}

/* ---------------------- nav depth1 ---------------------- */

.gnb .depth1 > li > a {
  /* a태그는 인라인이라서 높이값 안들어감 > 블록으로 바꿔주기 */
  display: block;
  height: 100px;
  /* 패딩값 li 말고 a 에 넣기 */
  padding: 0px 50px;
  /* 글씨속성 : 글씨를 싸고있는 바로 바깥태그에 적용 */
  text-align: center;
  line-height: 100px;
  /* background: white; */
  /* border: 1px solid #000; */
}

.gnb .depth1 > li > a:hover {
  color: blue;
  border-bottom: 3px solid blue;
}

/* 마우스오버했을때 depth2가 보이게하기 */
.gnb .depth1:hover .depth2 {
  display: block;
}

/* ----------------------- nav depth2 --------------------- */

.gnb .depth2 {
  display: none;
  padding: 20px 0px;
  background: white;
  box-sizing: border-box;
}

/* 밑에 뭐 더 없으니까 자식으로 잡음 */
.gnb .depth2 a {
  display: block;
  /* 높이를 지정해서 공간 크기가 변동되는걸 막기 */
  /* 높이값 넣어주고 line height도 맞춰서 가운데정렬 */
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.gnb .depth2 a:hover {
  border-bottom: 3px solid blue;
  color: blue;
}

/* ------------------------ slide ------------------------- */

/* a 태그와 img 태그는 인라인요소 */
/* main 까지 잡아줄필요는 없음 > 섹션별로 잡아주기 */
.slide a,
.slide img {
  display: block;
}

/* 나중에 스크립트로 나머지 슬라이드 올라오게 제어 */
.slide {
  height: 300px;
  overflow: hidden;
}

/* ---------------------- contents ------------------------ */

.contents {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.tabs {
  width: calc(100% / 2 - 230px);
}

.bnr {
  width: 400px;
}

/* 어딜 클릭하던 링크되게 블록으로 크기맞추기 */
.bnr a,
.bnr img {
  display: block;
}

.goto {
  width: calc(100% / 2 - 230px);
}
/* ----------------------- tabs ------------------------- */

/* ---------------------- goto ------------------------- */
.goto ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 180px;
}

.goto li {
  /* 퍼센트는 상대값이니까 부모한테 주기 */
  /* 반응형 - 퍼센트 / 왠만하면 퍼센트로 작업하기 */
  width: calc(50% - 5px);
  height: calc(50% - 5px);
  background: blue;
}

.goto a {
  display: block;
  height: 100%;
  background: green;
}
