@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 1.5;
  color: #000;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
}

/* ===== header ==== */

.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background: lightblue;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.logo a {
  display: block;
  width: 200px;
  height: 40px;
}

/* ====== nav depth1 ===== */

.gnb .depth1 {
  display: flex;
}

.gnb .depth1 > li > a {
  display: block;
  height: 100px;
  padding: 0px 50px;
  text-align: center;
  line-height: 100px;
}

.gnb .depth1 > li > a:hover {
  color: blue;
  border-bottom: 3px solid blue;
}

.gnb .depth1:hover .depth2 {
  display: block;
}

.gnb .depth1 > li {
  position: relative;
}

/* ====== nav depth2 ===== */

.gnb .depth2 {
  display: none;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  padding: 20px 0px;
  background: white;
  border: 1px solid #dbdbdb;
  border-right: none;
}

.gnb .depth1 > li:last-child .depth2 {
  border-right: 1px solid #dbdbdb;
}

.gnb .depth2 a {
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.gnb .depth2 a:hover {
  border-bottom: 3px solid blue;
  color: blue;
}

/* ====== slide ===== */

.slide-wrap a,
.slide-wrap img {
  display: block;
}

.slide-wrap {
  position: relative;
  height: 300px;
  overflow: hidden;
}

.lst-slide {
  position: absolute;
  top: 0;
  left: 0;
}

/* ====== contents ====== */

.contents {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.tabs-wrap {
  width: calc(100% / 2 - 230px);
}

.bnr {
  width: 400px;
}

.bnr a,
.bnr img {
  display: block;
}

.goto {
  width: calc(100% / 2 - 230px);
}

/* ==== tabs ===== */

.tabs-wrap {
  display: flex;
  position: relative;
}

.tabs-wrap .tabs-item {
  width: 50%;
}

/* 비활성화 탭타이틀 */
.tabs-wrap .tabs-item .tit {
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  border-bottom: 2px solid #000;
}

/* 활성화 탭타이틀*/
.tabs-wrap .on .tit {
  color: white;
  background: #333;
}

/* 비활성화 탭 */
.tabs-wrap .tabs-item .cont {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  height: 157px;
}

/* 활성화탭 */
.tabs-wrap .on .cont {
  display: block;
}

/* 컨탠츠디자인 */
.lst-bbs {
  padding-top: 13px;
}

.lst-bbs li {
  display: flex;
  align-items: center;
}

.lst-bbs li::before {
  content: "";
  width: 5px;
  height: 5px;
  margin-right: 10px;
  border-radius: 50%;
  background: #000;
}

.lst-bbs li a {
  display: block;
  line-height: 2;
}

.lst-bbs li a:hover {
  text-decoration: underline;
}

/* ====== gallery ===== */

.lst-gallery {
  display: flex;
  justify-content: space-between;
}

.lst-gallery li {
  width: 100px;
  padding-top: 13px;
}

.lst-gallery li p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ====== goto ===== */

.goto ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 180px;
}

.goto li {
  width: calc(50% - 5px);
  height: calc(50% - 5px);
  background: blue;
}

.goto a {
  display: block;
  height: 100%;
  background: lightblue;
}

/* ====== footer ====== */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-top: 1px solid #d7d7d7;
  background: white;
}

.logo-foot a {
  display: block;
  height: 100px;
  line-height: 100px;
}

.lst-sns {
  display: flex;
}

.lst-sns li {
  margin-left: 20px;
}

.lst-sns li a {
  display: block;
  height: 100px;
  line-height: 100px;
}

/* ========= modal ======= */

.modal-dimmed {
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal-box {
  position: relative;
  padding: 50px;
  width: 500px;
  height: 300px;
  text-align: center;
  background: white;
  border: 1px solid #000;
  border-radius: 20px;
}

.modal h3 {
  margin-bottom: 30px;
  font-size: 30px;
}

.modal-box .modal-button {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
  border: none;
  font-size: 16px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}
